/* MOBILE FIRST */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    font-family: 'Bitter', serif;
    background-color: rgb(87, 87, 87);
    background: linear-gradient(to top, transparent, black 70%),
        url("https://images.unsplash.com/photo-1624139283078-74a0492f2ee3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
    width: 390px;
    color: rgb(253, 253, 253);
}

/* HEADER & BACKGROUND IMAGE */

header {
    background: linear-gradient(to bottom, transparent, black 110%),
        url("https://i.ibb.co/NCr4KpX/IMG-5358.jpg");
    background-size: cover;
    height: 550px;
    width: auto;
    margin: -10px -10px 0 -10px;
}

/* ABOUT ME */
.about-me {
    grid-template-rows: 2/3;
    margin: 0 0 0 0;
}

.about-me-title {
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;

}

.about-me-subtitle {
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
    font-size: small;

}

.about-me-subsubtitle {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
    font-size: small;
}
.about-me-body {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.about-me-capital {
    font-size: xx-large;
    padding: 0 0 10px 0;
}

.about-me-the-rest {
    margin: 13px 0 0 0;
}

/* PROJECTS */
.projects {
    grid-template-rows: 3/4;
    
}

.projects-title {
    display: flex;
    justify-content: center;
}

.projects-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects-items {
    list-style-type: none;
}

.project1-1 {
    height: 30px;
    width: 30px;
}


#project0 .projects-row2 {
    margin: 20px 0 0 0;
}

/* CONTACT */
.contact-me {
    grid-template-rows: 4/5;
}

.contact-title {
    display: flex;
    justify-content: center;
}

.contact-items {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 0 0 -35px;
}

.phone {
    display: flex;
    justify-content: center;
}

.email {
    display: flex;
    justify-content: center;
}

.linkedin {
    display: flex;
    justify-content: center;
}




/* RESPONSIVE CSS TABLET */
@media only screen and (min-width: 768px) {

}


/* RESPONSIVE CSS PC */
@media only screen and (min-width: 1024px) {

}