/* MOBILE FIRST */
@media only screen and (min-width: 150px) and (max-width: 767px) {
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 20% 20% 20%;
    align-items: center;
    justify-content: center;
    font-family: 'Bitter', serif;
    background-color: rgb(194, 163, 163);
    background: linear-gradient(to top, transparent, black 75%),
        url("https://images.unsplash.com/photo-1624139283078-74a0492f2ee3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
    width: 390px;
    color: rgb(253, 253, 253);
    background-repeat: no-repeat;
}

/* NAV BAR */
nav {
    display: none;
}

/* HEADER & BACKGROUND IMAGE */
header {
    background: linear-gradient(to bottom, transparent, black 110%),
        url("https://i.ibb.co/NCr4KpX/IMG-5358.jpg");
    background-size: cover;
    height: 550px;
    width: 300;
    margin: -10px -10px 0 -10px;
}

/* ABOUT ME */
.about-me {
    grid-row: 2/3;
    margin: 0 0 5em 0;
}

/* ABOUT ME TITLE */
.about-me-title {
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;

}
.about-me-subtitle {
    display: flex;
    justify-content: center;
    margin: -5px 0 0 0;
    font-size: small;

}
.about-me-subsubtitle {
    display: flex;
    justify-content: center;
    margin: 5px 0 30px 0;
    font-size: small;
}

/* ABOUT ME BODY */
.about-me-body {
    display: flex;
    justify-content: center;
    padding: 1em;
}
.about-me-capital {
    font-size: xx-large;
    padding: 0 0 10px 20px;
}
.about-me-the-rest {
    margin: 13px 0 0 0;
}

/* PROJECTS */
.projects {
    grid-row: 3/4;
}
.projects-title {
    display: flex;
    justify-content: center;
}

/* PROJECTS ITEMS */
.projects-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 10px 0 25px;
}
.projects-items {
    list-style-type: none;
    padding: 20px 0 20px 0;
}
.project1-1 {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
#project0 .projects-row2 {
    margin: 20px 0 0 0;
}

/* CONTACT */
.contact-me {
    grid-template-rows: 4/5;
}
.contact-title {
    display: flex;
    justify-content: center;
}

/* CONTACT ITEMS */
.contact-items {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 0 0 -35px;
}
.phone {
    display: flex;
    justify-content: center;
}
.email {
    display: flex;
    justify-content: center;
}
.linkedin {
    display: flex;
    justify-content: center;
}
}

    /*  */
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */
    /* RESPONSIVE CSS TABLET */
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20% 20% 20% 20% 20%;
        /* align-items: center; */
        justify-content: center;
        font-family: 'Bitter', serif;
        background-color: rgb(87, 87, 87);
        background: linear-gradient(to top, transparent, black 45%),
            url("https://images.unsplash.com/photo-1624139283078-74a0492f2ee3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
        width: auto;
        color: rgb(253, 253, 253);
        background-repeat: no-repeat;
    }

    /* NAV BAR */
    nav {
         display: none;
    }

    /* HEADER & BACKGROUND IMAGE */
    header {
        background: linear-gradient(to bottom, transparent, black 110%),
            url("https://i.ibb.co/NCr4KpX/IMG-5358.jpg");
        background-size: cover;
        height: 550px;
        width: 300;
        margin: -10px -10px 0 -10px;
        grid-column: 1/3;
        grid-row: 1/4;
    }

    /* ABOUT ME */
    .about-me {
        grid-row: 4/5;
        grid-column: 1/2;
        margin: 3em 0 0 0;
    }

    /* ABOUT ME TITLE */
    .about-me-title {
        display: flex;
        justify-content: center;
        margin: 0 0 0 0;

    }
    .about-me-subtitle {
        display: flex;
        justify-content: center;
        margin: -5px 0 0 0;
        font-size: small;

    }
    .about-me-subsubtitle {
        display: flex;
        justify-content: center;
        margin: 5px 0 10px 0;
        font-size: small;
    }

    /* ABOUT ME BODY */
    .about-me-body {
        display: flex;
        justify-content: center;
        padding: 1em;
    }
    .about-me-capital {
        font-size: xx-large;
        padding: 0 0 10px 20px;
    }
    .about-me-the-rest {
        margin: 13px 0 0 0;
    }

    /* PROJECTS */
    .projects {
        grid-row: 4/5;
        grid-column: 1/2;
        margin: 3em 0 0 0;
        grid-row: 4/6;
        grid-column: 2/3;
        margin: -5em 0 0 0;
    }
    .projects-title {
        display: flex;
        justify-content: center;
    }

    /* PROJECTS ITEMS */
    .projects-list {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 10px 0 25px;
    }
    .projects-items {
        list-style-type: none;
        padding: 20px 0 20px 0;
    }
    .project1-1 {
        height: 60px;
        width: 60px;
        border-radius: 50px;
    }
    #project0 .projects-row2 {
        margin: 20px 0 0 0;
    }

    /* CONTACT */
    .contact-me {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    .contact-title {
        display: flex;
        justify-content: center;
    }

    /* CONTACT ITEMS */

    .contact-items {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0 0 0 -35px;
    }
    .phone {
        display: flex;
        justify-content: center;
    }
    .email {
        display: flex;
        justify-content: center;
    }
    .linkedin {
        display: flex;
        justify-content: center;
    }
    } /* media query curly bracket */

        /*  */
        /*  */
        /*  */
        /*  */
        /*  */
        /*  */
        /*  */
        /*  */
        /*  */
        /*  */
        /*  */
        /*  */
        /*  */
        /*  */
        /* RESPONSIVE CSS PC */
        @media only screen and (min-width: 1024px) {
        body {
            display: grid;
            grid-template-columns: 2fr 1fr .1fr;
            grid-template-rows: 30% 40% 30%;
            align-items: center;
            justify-content: center;
            font-family: 'Bitter', serif;
            /* background-color: rgb(87, 87, 87); */
            width: auto;
            height: 800px;
            color: rgb(253, 253, 253);
        }

        nav {
            grid-column: 3/4;
            grid-row: 1/2;
            color: white;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        .navbar {
            padding: 3px 0 0 0;
            background-color: rgb(0, 0, 0, 70%);
            border-radius: 7px;
        }

        /* HEADER & BACKGROUND IMAGE */
        header {
            background: url("https://i.ibb.co/NCr4KpX/IMG-5358.jpg");
            background-size: cover;
            height: 800px;
            width: auto;
            margin: -30px -10px 0 -10px;
            grid-column: 1/4;
            grid-row: 1/4;
        }
        
        .about-me {
            background-color: rgb(0, 0, 0, 70%);
            border-radius: 20px;
        }
        .projects {
            background-color: rgb(0, 0, 0, 75%);
            border-radius: 20px;
        }
        .contact-me {
            background-color: rgb(0, 0, 0, 80%);
            border-radius: 20px;
        }

        /* ABOUT ME */
        .about-me {
            /* display: none; */
            grid-row: 1/4;
            grid-column: 2/3;
            padding: 0 0 30em 0;
            size: auto;
        }

        /* ABOUT ME TITLE */
        .about-me-title {
            display: flex;
            justify-content: center;
            margin: 30px 0 0 0;
        }
        .about-me-subtitle {
            display: flex;
            justify-content: center;
            margin: -5px 0 0 0;
            font-size: small;
        }
        .about-me-subsubtitle {
            display: flex;
            justify-content: center;
            margin: 5px 0 10px 0;
            font-size: small;
        }

        /* ABOUT ME BODY */
        .about-me-body {
            display: flex;
            justify-content: center;
            padding: .5em;
        }
        .about-me-capital {
            font-size: xx-large;
            padding: 0 0 10px 20px;
        }
        .about-me-the-rest {
            margin: 13px 0 0 0;
        }

        /* PROJECTS */
        .projects {
            display: none;
            grid-row: 1/4;
            grid-column: 2/3;
            padding: 0 0 27em 0;
            size: auto;
        }
        .projects-title {
            display: flex;
            justify-content: center;
        }

        /* PROJECTS ITEMS */
        .projects-list {
            list-style-type: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin: 0 10px 0 25px;
        }
        .projects-items {
            list-style-type: none;
            padding: 20px 0 20px 0;
        }
        .project1-1 {
            height: 60px;
            width: 60px;
            border-radius: 50px;
        }
        #project0 .projects-row2 {
            margin: 20px 0 0 0;
        }

        /* CONTACT */
        .contact-me {
            display: none;
            grid-row: 1/4;
            grid-column: 2/3;
            padding: 0 0 37em 0;
            size: auto;
        }
        .contact-title {
            display: flex;
            justify-content: center;
        }

        /* CONTACT ITEMS */

        .contact-items {
            list-style-type: none;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            margin: 0 0 20px -25px;
        }
        .phone {
            display: flex;
            justify-content: center;
        }
        .email {
            display: flex;
            justify-content: center;
        }
        .linkedin {
            display: flex;
            justify-content: center;
        }
        } /* media query curly bracket */